@page
@model CRUD.Pages.Productos.IndexModel
@{
	ViewData["Title"] = "Lista de productos";
}



@if(Model.Mensaje != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@Model.Mensaje
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<div class="card mt-5">
	<div class="card-header" style="background-color:blueviolet">
		<div class="row">
			<div class="col-sm-9">
				<h2 style="color: white">Lista de productos</h2>
			</div>
			<div class="col-sm-3">
				<a asp-page="Crear" class="btn btn-outline-light">Crear nuevo producto</a>
			</div>
		</div>
	</div>

	<div class="card-body">
		<form method="POST">
		@if(Model.Productos.Count() > 0)
		{
			<br />
			<table class="table table-striped border">
				<tr class="table-secondary">
					<th>@Html.DisplayNameFor(m => m.Productos.First().Id)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().NombreProducto)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().Descripcion)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().EnStock)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().Precio)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().FechaCreacion)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().BrandId)</th>
					<th>@Html.DisplayNameFor(m => m.Productos.First().CategoryId)</th>
					<th>Acciones</th>
				</tr>
				@foreach(var item in Model.Productos)
				{
					<tr>
						<td>@Html.DisplayFor(m => item.Id)</td>
						<td>@Html.DisplayFor(m => item.NombreProducto)</td>
						<td>@Html.DisplayFor(m => item.Descripcion)</td>
						<td>@Html.DisplayFor(m => item.EnStock)</td>
						<td>@Html.DisplayFor(m => item.Precio)</td>
						<td>@Html.DisplayFor(m => item.FechaCreacion)</td>
						<td>@Html.DisplayFor(m => item.BrandId)</td>
						<td>@Html.DisplayFor(m => item.CategoryId)</td>

						<td>
							<a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-success btn-sm">Editar</a>
							<button asp-page-handler="Borrar" asp-route-id="@item.Id" onclick="return confirm('Esta seguro de querer de querer borrar el producto?')" class="btn btn-danger btn-sm">Borrar</button>
						</td>
					</tr>
					
				}
			</table>
		}
		else
		{
			<p>No hay productos disponibles</p>
		}
		</form>
	</div>

</div>