<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD.styles.css" asp-append-version="true" />
    <style>
        .nav-link.active {
            border-bottom: 2px solid blueviolet;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                       
                        <li class="nav-item m-2">
                            <a class="nav-link @(Context.Request.Path == "/" ? "active" : "")" style="color:blueviolet; font-size:medium;" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link @(Context.Request.Path == "/Productos" ? "active" : "")" style="color:blueviolet; font-size:medium" asp-page="/Productos/Index">Productos</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link @(Context.Request.Path == "/Productos/Brand" ? "active" : "")" style="color:blueviolet; font-size:medium" asp-page="/Productos/Brand">Marcas</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link @(Context.Request.Path == "/Productos/Category" ? "active" : "")" style="color:blueviolet; font-size:medium" asp-page="/Productos/Category">Categorias</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CRUD - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>